# copy and fill out to connect to supabase and enable auth
POSTGRES_URL=<postgres_connection_string>
SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_ANON_KEY=<key>
SUPABASE_CA=<ssl_certificate_authority>
