* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
[hidden] {
  display: none !important;
}
[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.side-by-side {
  justify-content: flex-start;
}
.end {
  justify-content: flex-end;
}
.next-to {
  margin-right: var(--spacing-s);
}
.vertical {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
}
.flex {
  flex: 1;
}
html {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;
}

body {
  background-color: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
