* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
[hidden] {
  display: none !important;
}
[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
.disabled {
  color: rgba(0, 0, 0, 0.3);
}
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.side-by-side {
  justify-content: flex-start;
}
.end {
  justify-content: flex-end;
}
.end-vertical {
  align-items: flex-end;
}
.right-next-to {
  margin-right: var(--spacing-xs);
}
.next-to {
  margin-right: var(--spacing-sm);
}
.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center {
  align-items: center;
}
.center-vertical {
  justify-content: center;
}
.flex {
  flex: 1;
}
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
html {
  --spacing-xs: 8px;
  --spacing-nm: 24px;
  --spacing-sm: 12px;
  --spacing-md: 36px;
  --color-primary: #845ec2;
  --color-dark: #4b4453;
  --color-danger: #c34a36;
  --color-neutral: #b0a8b9;
  --color-highlight: #ff8066;
  --color-green: #00c9a7;
  --color-blue: #1c819e;
  --color-freshness: #008c82;
}

body {
  background-color: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.sheet {
  position: fixed;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 2vw;
  width: 96vw;
  z-index: 100;
  height: 100vh;
}
.sheet-content {
  padding: 12px;
  max-height: 75vh;
  overflow: hidden;
}
